@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

<form>

    <img src="C:\Users\lojua\OneDrive\Área de Trabalho\AREA DE TRABALHO\Trabalho faculdade\PIM 3 SEMESTRE\IMAGENS\Logo.PNG" alt="Logo TicketTech">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"></label>
        <input type="email" class="form-control" id="Email" placeholder="E-mail">
    </div>

    <div class="mb-3">
        <label for="senha" class="form-label"></label>
        <input type="password" class="form-control" id="senha" placeholder="Senha">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Declaro que li e concordo com os Termos de Uso e Política de Privacidade geridas pela <a href="https://www.planalto.gov.br/ccivil_03/_ato2015-2018/2018/lei/l13709.htm">LGPD</a>.</label>
    </div>

    <button type="submit" class="btn btn-primary">Entrar</button>
</form>