@model testeTicketTech.Models.RedefinirSenhaModel

@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Redefinir Senha";
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-light" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}

<h1 class="text-center display-4 mb-4">Ticket Tech</h1>

<p>Para Redefinir sua senha, informe:</p>

<form asp-controller="Login" asp-action="RedefinirSenha" method="post">
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger text-light" role="alert">
            @TempData["MensagemErro"]
        </div>
    }

    <div class="mb-3">
        <input type="text" asp-for="Login" class="form-control" placeholder="Login">
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Login)</span>
    </div>

    <div class="mb-3">
        <input type="email" asp-for="Email" class="form-control" placeholder="E-mail">
        <span class="text-danger">@Html.ValidationMessageFor(x => x.Email)</span>
    </div>

    <div class="d-grid gap-2 col-12 mx-auto">
        <button type="submit" class="btn btn-primary btn-lg">Redefinir Senha</button>
        <a asp-controller="Login" asp-action="Index" class="btn btn-secondary btn-lg">Voltar</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
