<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - TicketTech</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Flatly.css" asp-append-version="true" />
</head>
<body>
    <div class="container mt-5">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
